body{
    width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background-color: lightgrey;
}

header{
    text-align: right;
    color: brown;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header img{
    float: left;
    padding-bottom: 20px;
}

.topnav{
    background-color:lightgoldenrodyellow;
    padding: 10px 10px;
    font-size: 20px;
}

.topnav a:hover{
    background-color: lightseagreen;
    color: black;
}

.topnav ul{
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    list-style-type: none;
}

.aside{
   width: 300px;
   height: 100%;
   float: left;
   position: absolute;
   font-size: 20px;
}

.content{
    width: 670px;
    margin-left: 420px;
    background-color: blanchedalmond;
    padding-left: 5px;
    padding-right: 5px;
}

footer{
    text-align: center;
    font-weight: bold;
    background-color: lightgoldenrodyellow;
    padding: 10px 0;
    font-size: 20px;
    color:solid black;
}